<div class="wikipedia-container">
  <div class="articles-filters">
    <span>Filters: </span>
    <mat-form-field appearance="legacy">
      <mat-label>Item</mat-label>
      <input matInput [formControl]="itemFilterFormControl">
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>User</mat-label>
      <input matInput [formControl]="userFilterFormControl">
    </mat-form-field>
  </div>
  <div class="articles-list">
    <ng-container *ngIf="filteredArticles$ | async as filteredArticles">
      <div *ngIf="filteredArticles.length == 0"><span>Still no records.</span></div>
      <ng-container *ngFor="let article of filteredArticles">
        <div class="article">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Item: {{article.item}} <a mat-button href={{article.link}}>Article</a></mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>Event: {{article.event}}</p>
              <p>User: {{article.user}}</p>
            </mat-card-content>
          </mat-card>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>